body {
    background-color:black ;
    color:rgba(251, 224, 156, 0.792);

    font-family: "Dancing Script", cursive;
} 

header{
     font-size: 50px;
     border: solid 5px rgb(123, 58, 58);
     border-bottom: solid 5px rgb(255, 230, 0);
     padding: 50px;
}

h1{
     font-size: 30px;
}
p{
     font-size: 20px;
}